/*
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
Datepicker
--------------------------------------------------------------------------------------------------------------------------------
*/

.ui-helper-hidden {display:none;}
.ui-helper-hidden-accessible {position:absolute !important; clip:rect(1px 1px 1px 1px); clip:rect(1px,1px,1px,1px);}
.ui-helper-reset {margin:0; padding:0; border:0; outline:0; line-height:1.3; text-decoration:none; font-size:100%; list-style:none;}
.ui-helper-clearfix:after {content:"."; display:block; height:0; clear:both; visibility:hidden;}
.ui-helper-clearfix {display:inline-block;}
* html .ui-helper-clearfix {height:1%;}
.ui-helper-clearfix {display:block;}
.ui-helper-zfix {width:100%; height:100%; top:0; left:0; position:absolute; opacity:0; filter:Alpha(Opacity=0);}
.ui-state-disabled {cursor:default !important;}
.ui-icon {display:block; text-indent:-99999px; overflow:hidden; background-repeat:no-repeat;}
.ui-widget-overlay {position:absolute; top:0; left:0; width:100%; height:100%;}
.ui-widget .ui-widget {font-size:1.2em;}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {font-size:1em;}
.ui-widget-content {background:white; color:#50505a;}
.ui-widget-content a {color:#50505a;}
.ui-widget-header {color:#ffffff; font-weight:bold;}
.ui-widget-header a {color:#ffffff;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {background:#f2f2f6;}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {text-decoration:none;}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {color:white;}
.ui-state-hover a, .ui-state-hover a:hover {color:#c77405; text-decoration:none;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {background:#ffffff; font-weight:bold;}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {color:#eb8f00; text-decoration:none;}
.ui-widget :active {outline:none;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {color:#ffffff;}
.ui-state-highlight.ui-state-active {color:#ffffff !important;}
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a {color:#8c8c90;}
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border:1px solid #cd0a0a; background:#b81900; color:#ffffff;}
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a {color:#ffffff;}
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text {color:#ffffff;}
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary {font-weight:bold;}
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary {opacity:.7; filter:Alpha(Opacity=70); font-weight:normal;}
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {opacity:.35; filter:Alpha(Opacity=35); background-image:none;}
.ui-icon {width:16px; height:16px; background-image:url("../images/datepicker/ui-icons_ffffff_256x240.png");}
.ui-widget-header .ui-icon {background-image:url("../images/datepicker/ui-icons_ffffff_256x240.png");}
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image:url("../images/datepicker/ui-icons_ffffff_256x240.png"); opacity:0.5;}
.ui-icon-circle-triangle-e {background-position:-48px -192px;}
.ui-icon-circle-triangle-s {background-position:-64px -192px;}
.ui-icon-circle-triangle-w {background-position:-80px -192px;}
.ui-icon-circle-triangle-n {background-position:-96px -192px;}
.ui-datepicker {display:none; -moz-box-shadow:0 0 7px rgba(0,0,0,0.4); -webkit-box-shadow:0 0 7px rgba(0,0,0,0.4); box-shadow:0 0 7px rgba(0,0,0,0.4); z-index: 999 !important;}
.ui-datepicker thead th {font-weight: normal !important;}
.ui-datepicker .ui-datepicker-header {position:relative; padding:10px 15px;}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {position:absolute; top:16px; width:1.8em; height:1.8em;}
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {top:16px;}
.ui-datepicker .ui-datepicker-prev {left:10px;}
.ui-datepicker .ui-datepicker-next {right:10px;}
.ui-datepicker .ui-datepicker-prev-hover {left:10px;}
.ui-datepicker .ui-datepicker-next-hover {right:10px;}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {display:block; position:absolute; left:50%; margin-left:-8px; top:50%; margin-top:-8px;}
.ui-datepicker .ui-datepicker-title {margin:0 2.3em; line-height:1.8em; text-align:center; font-family:"Open Sans Condensed", Arial, Helvetica, serif; font-size:18px; font-weight:normal;}
.ui-datepicker .ui-datepicker-title select {font-size:1.2em; margin:1px 0;}
.ui-datepicker select.ui-datepicker-month-year {width:100%;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year {width:49%;}
.ui-datepicker table {width:100%; font-size:1em; margin:0 0 .4em;}
.ui-datepicker th {padding:.7em .3em; text-align:center; border:0;}
.ui-datepicker td {}
.ui-datepicker td span, .ui-datepicker td a {display:block; padding:.5em; text-align:center; text-decoration:none;}
.ui-datepicker .ui-datepicker-buttonpane {background-image:none; margin:.7em 0 0 0; padding:0 .2em; border-left:0; border-right:0; border-bottom:0;}
.ui-datepicker .ui-datepicker-buttonpane button {float:right; margin:.5em .2em .4em; cursor:pointer; padding:.2em .6em .3em .6em; width:auto; overflow:visible;}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {float:left;}
.ui-datepicker.ui-datepicker-multi {width:auto;}
.ui-datepicker-multi .ui-datepicker-group {float:left;}
.ui-datepicker-multi .ui-datepicker-group table {width:95%; margin:0 auto .4em;}
.ui-datepicker-multi-2 .ui-datepicker-group {width:50%;}
.ui-datepicker-multi-3 .ui-datepicker-group {width:33.3%;}
.ui-datepicker-multi-4 .ui-datepicker-group {width:25%;}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header {border-left-width:0;}
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {border-left-width:0;}
.ui-datepicker-multi .ui-datepicker-buttonpane {clear:left;}
.ui-datepicker-row-break {clear:both; width:100%; font-size:0em;}
.ui-datepicker-rtl {direction:rtl;}
.ui-datepicker-rtl .ui-datepicker-prev {right:2px; left:auto;}
.ui-datepicker-rtl .ui-datepicker-next {left:2px; right:auto;}
.ui-datepicker-rtl .ui-datepicker-prev:hover {right:1px; left:auto;}
.ui-datepicker-rtl .ui-datepicker-next:hover {left:1px; right:auto;}
.ui-datepicker-rtl .ui-datepicker-buttonpane {clear:right;}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {float:left;}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current {float:right;}
.ui-datepicker-rtl .ui-datepicker-group {float:right;}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header {border-right-width:0; border-left-width:0;}
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {border-right-width:0; border-left-width:0;}
.ui-datepicker-cover {display:none; display:block; position:absolute; z-index:-1; filter:mask(); top:-4px; left:-4px; width:200px; height:200px;}

/*
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
PrettyPhoto
--------------------------------------------------------------------------------------------------------------------------------
*/

div.pp_default .pp_top,div.pp_default .pp_top .pp_middle,div.pp_default .pp_top .pp_left,div.pp_default .pp_top .pp_right,div.pp_default .pp_bottom,div.pp_default .pp_bottom .pp_left,div.pp_default .pp_bottom .pp_middle,div.pp_default .pp_bottom .pp_right{height:13px}
div.pp_default .pp_top .pp_left{background:url("../images/prettyphoto/sprite.png") -78px -93px no-repeat}
div.pp_default .pp_top .pp_middle{background:url("../images/prettyphoto/sprite_x.png") top left repeat-x}
div.pp_default .pp_top .pp_right{background:url("../images/prettyphoto/sprite.png") -112px -93px no-repeat}
div.pp_default .pp_content .ppt{color:#f8f8f8}
div.pp_default .pp_content_container .pp_left{background:url("../images/prettyphoto/sprite_y.png") -7px 0 repeat-y;padding-left:13px}
div.pp_default .pp_content_container .pp_right{background:url("../images/prettyphoto/sprite_y.png") top right repeat-y;padding-right:13px}
div.pp_default .pp_next:hover{background:url("../images/prettyphoto/arrow-next.png") center right no-repeat;cursor:pointer;}
div.pp_default .pp_previous:hover{background:url("../images/prettyphoto/arrow-prev.png") center left no-repeat;cursor:pointer}
div.pp_default .pp_expand{background:url("../images/prettyphoto/sprite.png") 0 -29px no-repeat;cursor:pointer;width:28px;height:28px}
div.pp_default .pp_expand:hover{background:url("../images/prettyphoto/sprite.png") 0 -56px no-repeat;cursor:pointer}
div.pp_default .pp_contract{background:url("../images/prettyphoto/sprite.png") 0 -84px no-repeat;cursor:pointer;width:28px;height:28px}
div.pp_default .pp_contract:hover{background:url("../images/prettyphoto/sprite.png") 0 -113px no-repeat;cursor:pointer}
div.pp_default .pp_close{width:30px;height:30px;background:url("../images/prettyphoto/sprite.png") 2px 1px no-repeat;cursor:pointer}
div.pp_default .pp_gallery ul li a{background:url("../images/prettyphoto/default_thumb.png") center center #f8f8f8;border:1px solid #aaa}
div.pp_default .pp_gallery a.pp_arrow_previous,div.pp_default .pp_gallery a.pp_arrow_next{position:static;left:auto}
div.pp_default .pp_nav .pp_play,div.pp_default .pp_nav .pp_pause{background:url("../images/prettyphoto/sprite.png") -51px 1px no-repeat;height:30px;width:30px}
div.pp_default .pp_nav .pp_pause{background-position:-51px -29px}
div.pp_default a.pp_arrow_previous,div.pp_default a.pp_arrow_next{background:url("../images/prettyphoto/sprite.png") -31px -3px no-repeat;height:20px;width:20px;margin:4px 0 0}
div.pp_default a.pp_arrow_next{left:52px;background-position:-82px -3px}
div.pp_default .pp_content_container .pp_details{margin-top:5px}
div.pp_default .pp_nav{clear:none;height:30px;width:105px;position:relative}
div.pp_default .pp_nav .currentTextHolder{font-family:Georgia;font-style:italic;font-color:#999;font-size:11px;left:75px;line-height:25px;position:absolute;top:2px;margin:0;padding:0 0 0 10px}
div.pp_default .pp_close:hover,div.pp_default .pp_nav .pp_play:hover,div.pp_default .pp_nav .pp_pause:hover,div.pp_default .pp_arrow_next:hover,div.pp_default .pp_arrow_previous:hover{opacity:0.7}
div.pp_default .pp_description{font-size:11px;line-height:14px;margin:11px 50px 5px 0}
div.pp_default .pp_bottom .pp_left{background:url("../images/prettyphoto/sprite.png") -78px -127px no-repeat}
div.pp_default .pp_bottom .pp_middle{background:url("../images/prettyphoto/sprite_x.png") bottom left repeat-x}
div.pp_default .pp_bottom .pp_right{background:url("../images/prettyphoto/sprite.png") -112px -127px no-repeat}
div.pp_default .pp_loaderIcon{background:url("../images/prettyphoto/loading.gif") center center no-repeat}
div.pp_pic_holder a:focus{outline:none}
div.pp_overlay{background:#000;display:none;left:0;position:absolute;top:0;width:100%;z-index:9500}
div.pp_pic_holder{display:none;position:absolute;width:100px;z-index:10000}
.pp_content{height:40px;min-width:40px}
* html .pp_content{width:40px}
.pp_content_container{position:relative;text-align:left;width:100%}
.pp_content_container .pp_left{padding-left:20px}
.pp_content_container .pp_right{padding-right:20px}
.pp_content_container .pp_details{float:left;margin:10px 0 2px}
.pp_description{display:none;margin:0 0 5px}
.pp_nav{clear:right;float:left;margin:3px 10px 0 0}
.pp_nav p{float:left;margin:2px 4px}
.pp_nav .pp_play,.pp_nav .pp_pause{float:left;margin-right:4px;text-indent:-10000px}
a.pp_arrow_previous,a.pp_arrow_next{display:block;float:left;height:15px;margin-top:3px;overflow:hidden;text-indent:-10000px;width:14px}
.pp_hoverContainer{position:absolute;top:0;width:100%;z-index:2000}
.pp_gallery{display:none;left:50%;margin-top:-50px;position:absolute;z-index:10000}
.pp_gallery div{float:left;overflow:hidden}
.pp_gallery ul{float:left;height:35px;position:relative;white-space:nowrap;margin:0 0 0 5px;padding:0}
.pp_gallery ul a{border:1px rgba(0,0,0,0.5) solid;display:block;float:left;height:33px;overflow:hidden}
.pp_gallery ul a img{border:0}
.pp_gallery li{display:block;float:left;margin:0 5px 0 0;padding:0}
.pp_gallery li.default a{display:block;height:33px;width:50px}
.pp_gallery .pp_arrow_previous,.pp_gallery .pp_arrow_next{margin-top:7px!important}
a.pp_next{background:url("../images/prettyphoto/arrow-next.png") 10000px 10000px no-repeat;display:block;float:right;height:100%;text-indent:-10000px;width:49%}
a.pp_previous{background:url("../images/prettyphoto/arrow-prev.png") 10000px 10000px no-repeat;display:block;float:left;height:100%;text-indent:-10000px;width:49%}
a.pp_expand,a.pp_contract{cursor:pointer;display:none;height:20px;position:absolute;right:30px;text-indent:-10000px;top:10px;width:20px;z-index:20000}
a.pp_close{position:absolute;right:0;top:0;display:block;line-height:22px;text-indent:-10000px}
.pp_loaderIcon{display:block;height:24px;left:50%;position:absolute;top:50%;width:24px;margin:-12px 0 0 -12px}
#pp_full_res{line-height:1!important}
#pp_full_res .pp_inline{text-align:left}
#pp_full_res .pp_inline p{margin:0 0 15px}
div.ppt{color:#fff;display:none;font-size:17px;z-index:9999;margin:0 0 5px 15px}
div.pp_default .pp_content,div.light_rounded .pp_content{background-color:#fff}
div.pp_default #pp_full_res .pp_inline,div.light_rounded .pp_content .ppt,div.light_rounded #pp_full_res .pp_inline,div.light_square .pp_content .ppt,div.light_square #pp_full_res .pp_inline,div.facebook .pp_content .ppt,div.facebook #pp_full_res .pp_inline{color:#000}
div.pp_default .pp_gallery ul li a:hover,div.pp_default .pp_gallery ul li.selected a,.pp_gallery ul a:hover,.pp_gallery li.selected a{border-color:#fff}
div.pp_default .pp_details,div.light_rounded .pp_details,div.dark_rounded .pp_details,div.dark_square .pp_details,div.light_square .pp_details,div.facebook .pp_details{position:relative}
.pp_top,.pp_bottom{height:20px;position:relative}
* html .pp_top,* html .pp_bottom{padding:0 20px}
.pp_top .pp_left,.pp_bottom .pp_left{height:20px;left:0;position:absolute;width:20px}
.pp_top .pp_middle,.pp_bottom .pp_middle{height:20px;left:20px;position:absolute;right:20px}
* html .pp_top .pp_middle,* html .pp_bottom .pp_middle{left:0;position:static}
.pp_top .pp_right,.pp_bottom .pp_right{height:20px;left:auto;position:absolute;right:0;top:0;width:20px}
.pp_fade,.pp_gallery li.default a img{display:none}